<div class="mdplost">
  <div class="container col-md-6 offset-md-3" id="LoginForm">
    <h1 class="form-heading text-center">Mot de passe oublié?</h1>
      <div class="login-form">
        <div class="main-div">
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), id: "Login", html: { method: :post }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="form-group">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", id:"inputEmail" %>
          </div>

          <div class="actions mt-5">
            <%= f.submit "Envoyez moi les instructions pour modifier mon mot de passe", class: "btn btn-lg btn-primary btn-block" %>
          </div>
            <% end %>
        </div>
      </div>
  </div>
</div>