<div class="container pb-5 mb-2">
     <!-- Cart Item-->
     <% @selection.each do |selection|  %>
     <div class="cart-item d-md-flex justify-content-between"><span class="remove-item"><i class="fe-icon-x"></i></span>
       <div class="px-3 my-3"><a class="cart-item-product" href="shop-single.html">
           <div class="cart-item-product-thumb">
            <%if item.cat_picture.attached?%>
              <%= image_tag item.cat_picture, alt: "#{item.title}", class: "card-img" %>
              <%else%>
              <img src="<%= image_tag 'cat_1.jpg'  %>" class="card-img" alt="img-cat">
              <% end %>
          </div>
           <div class="cart-item-product-info">
             <h4 class="cart-item-product-title"><%= selection.item.title  %></h4></div></a></div>
       <div class="px-3 my-3 text-center">
         <div class="cart-item-label">Quantité</div>
         <div class="count-input">
           <select class="form-control">
             <option>1</option>
           </select>
         </div>
       </div>
       <div class="px-3 my-3 text-center">
         <div class="cart-item-label"><%= "Sous total"  %></div><span class="text-xl font-weight-medium"><%= selection.item.price %></span>
       </div>
     </div>
      <%end%>

     <!-- Total à payer-->
     <div class="py-2"><span class="d-inline-block align-middle text-sm text-muted font-weight-medium text-uppercase mr-2">Total:</span><span class="d-inline-block align-middle text-xl font-weight-medium"><%= @total %>€</span></div>

     <!-- Buttons-->
     <hr class="my-2">
     <div class="row pt-3 pb-5 mb-2">
       <div class="col-sm-6 mb-3"><%= link_to "Supprimer tout le panier", cart_path(1), method: :destroy, data: {confirm: "Es-tu sûr?"}, class: "btn btn-secondary btn-block" %></div>
       <div class="col-sm-6 mb-3"><a class="btn btn-primary btn-block" href="checkout-address.html"><i class="fe-icon-credit-card"></i>&nbsp;Paiement</a></div>
     </div>

</div>